<!-- /snippets/instagram-product.liquid -->
<div class="instagram-collection" data-iat="{{ settings.homepage_instagram_access_token }}" style="display:none">
  <div class="wrapper">
    <div class="instagram-container product">
      <div class="box photo" tabindex="0">
        <figure>
          <a href="#" target="_blank" tabindex="-1"></a>
          <figcaption>
            <p></p>
            <ul class="social-stats">
              <li>
                <a href="#" target="_blank" class="likes" tabindex="-1">
                  <span class="icon-fallback-text">
                    <span class="icon icon-like" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'homepage.instagram.likes' | t }}</span>
                    <span class="label"></span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" class="comments" tabindex="-1">
                  <span class="icon-fallback-text">
                    <span class="icon icon-comment" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'homepage.instagram.comments' | t }}</span>
                    <span class="label">0</span>
                  </span>
                </a>
              </li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>